body{font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
color:#434455;
font-size:16px;
line-height: 1.5;}
h1{ font-size:56px;
    line-height: 1.1;
color:#FFFFFF;}
.hero{background-color:#2E2F42;}
h2{font-size:36px;
line-height:1.1;
color:#2E2F42;
}
address{
    font-style:normal;
    text-decoration:none;
}
.btn{color:#4D5AE5;
background-color:#E7E9FC;}
.btn:hover,
.btn:focus {
    color:#FFFFFF;
    background-color:#404BBF;
}
.btn-white{color:#FFFFFF;
background-color:#4D5AE5}
.btn-white:hover,
.btn-white:focus{background-color:#404BBF;}
.link{font-style: normal;
    text-decoration:none;
    color:#434455;
}
.link:hover,
.link:focus {color:#404BBF;
}
.logo {
    font-family: "raleway";
    font-size:18px;
    line-height: 1.1;
}
.tab-list{font-size:20px;
    line-height:1.2;
color:#2E2F42;}

.link .menu{color:#2E2F42;}